body {
    margin: 0;
}

header {
    background-color: #add8e6;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #daa520;
    align-items: center;
    
    display: flex;
    justify-content: space-between;

    width: 75%;


}
.logo{ 
    border: 1px sienna dashed;
    padding: 2px;
    width: 20%;

}

.link{
    border: 1px sienna dashed;
    padding: 2px;
    width: 60%

}
.login{ 
    border: 1px sienna dashed;
    padding: 2px;
    width: 20%;
}


.containers{
    background-color: orange;
    align-items: center;
}
.uno{ 
    color: blue;
}

.due{
    border: 1px sienna solid;
    padding: 10px;
}
.tre{
    border: 1px sienna solid;
    padding: 10px;
}
.quattro{ 
    border: 1px sienna solid;
    padding: 10px;
}
.cinque{ 
    border: 1px sienna solid;
    padding: 10px;

}
.sei{
    border: 1px sienna solid;
    padding: 10px;
    
}

footer {
    background-color: #23272a;
    height: 50px;
}
