body {
    background: grey;
    margin: 0;
}


header {
    background-color: #add8e6;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    height: 40%;


}

.logo {
    border: 1px rgb(0, 0, 0) dashed;
    padding: 2px;
    width: 20%;

}

.link {
    border: 1px rgb(0, 0, 0) dashed;
    padding: 2px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}


.login {
    border: 1px rgb(0, 0, 0) dashed;
    padding: 2px;
    width: 20%;
}


.containers {
    justify-content: flex-start;
    
    align-items: center;
    height: auto;
}
.last-containerz{
    background-color: #daa520;
    display: flex;
    justify-content: space-between;

    width: 20%;
    height: 40%;


}

.first-block {
    background-color: #00008b;
    border: 1px #000000 solid;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.second-block {
    background-color: white;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-block {
    background-color: #d3d3d3;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-block {
    background-color: white;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-block {
    background-color: #d3d3d3;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.sixth-block {
    background-color: #23272a;
    border: 1px rgb(0, 0, 0) solid;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.site_footer {
    background-color: #23272a;
    height: 50px;
    display: flex;

}

.pink-block {
    background-color: #ee82ee;
    height: 80%;



}

.blue-block {
    background-color: #1e90ff;
    height: 80%;
    width: 50%;
}

.rose-block {
    background-color: #ee82ee;
    width: 30%;
    height: 80%;
}

.green-block {
    background-color: #228b22;
    width: 90%;
    height: 90%;

}

.azure-block {
    background-color: #20b2aa;
    height: 80%;
}
.pink-block{
    background-color: #f08080;
}

.logo-brand{
    background-color: #f08080;
    display: flex;
    align-self:flex-end ;

}
.bottone{
    background-color: #f08080;
    display: flex;
    align-self: flex-start
}
    
